
/* prfile button */
.profile_name_button {
    font-size: 17px !important;
    background-color: transparent;
    color: white;
    padding:0px;
text-transform: none;
    /* padding-left: 10px; */
    text-decoration: none;
    padding-right: 25px;
    /* margin-right: 10px; */
}
.main-wrapper .profile_name_button:hover {
    color: #68C2E5;
}
.profile_name {
    position: relative;
}
.logout_dropdown {
    background-color: white;
    color: #1C4482;
    width: 88%;
    padding: 5px;
    padding-left: 20px;
    position: absolute;
    top: 30px;
    left: 0px;
    z-index: 9999999 !important;
    display: none;
}
.show {
    display: block;}
    @media (min-width:320px) and (max-width:767px) {
         }
        .payment_option .visa_info .visa {
        flex-wrap: wrap;
    }

    .payment_option .visa_info .visa .info{
        margin-bottom: 10px;
    }
    .payment_option .visa_info .visa .info{
        width: fit-content;
    } 

@media (min-width:992px) and (max-width:1200PX){
    .navbar-nav > li > a{
        font-size: 15px;
    }
    .navbar button {
        padding: 0px;
        font-size: 15px;
    }
    .navbar::after {
    right: 18.8%;
    }
}
@media (min-width:1201px) and (max-width:1400PX){
    .navbar::after {
        right: 18%;
        }

}
@media screen and (min-width: 993px){
    .navbar-collapse {
        overflow-y: visible !important;
    }
} 
