.details_section {
    margin-top: 50px;
    padding-bottom: 50px;
}
.tour_info .titles  {
    position: relative;
    border-bottom:  1px solid #DCDCDC;
    padding-bottom: 20px;
}
.tour_info .titles h6 {
    font-weight: 700;
    font-size: 25px;
    color: #1C4482;
    text-transform: capitalize;
    margin-bottom: 2px;
    margin-top: 10px;
}
.tour_info .titles span {
    font-weight: 300;
    font-size: 17px;
    color: #1C4482;
    text-transform: capitalize;
    margin-bottom: 5px;
    display: inline-block;
}
.tour_info .titles span span {
    padding: 10px;
}
.tour_info .titles .rating i {
    font-size: 15px;
    color: #F97150;
}
.tour_info .titles .rating span {
    color: #7E7E7E;
    font-size: 15px;
    padding-left: 8px;
}
.tour_info .titles  .sharing_icons {
    position: absolute;
    top: 0px;
    right: 0px;

}
.tour_info .titles  .sharing_icons i {
    padding:10px 10px;
    color: #1C4482;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #1C4482;
    font-size: 16px;
    margin-right: 10px;

}
.tour_info .titles  .sharing_icons i:hover {
        background-color: #1C4482;
        color: white;

}
.tour_info h6 {
    font-weight: 700;
    font-size: 17px;
    color: #1C4482;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tour_info p{
    font-size: 15px;
    color: #7E7E7E;
}
.tour_info_details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
}
.tour_info_details  img {
    width: 50px;
    margin-left: 15px;
}
.tour_info_details h6 {
    color: #1C4482;
    font-size:25px;
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 15px;
}
.tour_info_details span {
    color: #3A9DC4;
    font-size:20px ;
    text-transform: capitalize;
    font-weight: 400;
}
.included {
    padding-top: 50px;
    padding-bottom: 50px;

}
.included_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.included_info .include-1  {
    display: flex;
    align-items: center;
}
.included_info .include-1 span {
    font-size: 13px;
    color: #7E7E7E;
    padding-left: 8px;

}
.accordion-button {
    font-size: 17px;
    color:#1C4482 ;
    font-weight:700 ;
    text-transform: capitalize;
}
.accordion {
    margin-bottom: 20px;
}
.images {
    background-image: url(./../images/tour-details/video.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    min-height: 320px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.images button {
    border-radius: 50%;
    width: 88px;
    height: 88px;
    padding: 0px;
    border: 2px solid rgba(128, 128, 128, 0.582);
}
.images button img {
    width: 100%;
    border-radius: 50%;

}


@media (min-width: 320px) and (max-width: 767px) {
    .tour_info .titles .sharing_icons{
        top: 27%;
    }
}