.search_details  {
    min-height: 180px;
}
.passenger_info_details {
    position: static;
}
.passenger_info_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.passenger_info_title span {
    font-size:20px ;
    color:#1C4482 ;
    font-weight: 700;

}
.passenger_info_details label {
    font-size: 15px;
    color: #1C4482;
    text-transform: capitalize;
}
.search_details input,
.search_details select  {
    font-size: 15px;
}

@media (min-width: 1399px){
    .passenger_info .passenger_info_details .row >* {
        width: 33.33333333% !important;
    }
    
}
