.search_details {
    min-height: 300px;
    padding-bottom: 30px;
    position: relative;
}
.search_details_info {
    background-color: white;
    box-shadow: 0px 2px 20px rgba(0,0,0,0.07);
    padding: 40px;
    position: absolute;
    top: -10%;
    left: 10px;
    width: 100%;
    border-radius: 10px;
}
.hotel_details #room_main{
    height: 100%;
}
.hotel_details .main > button {
    height:50px;
}
.search_details_info input {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: transparent;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 12px;


}
.dating_inputs input {
    padding-left: 35px;
    padding-right: 5px;
    text-align: left;
}
.calender i {
    top: 7px;
    left: 10px;
}
.hotel_details input:focus-visible {
    border: 1px solid #ced4da;
}
.main button {
    font-size: 23px;
    text-transform: capitalize;
    color: white;
    
}
@media (min-width:1399px) {
    .search_details .search_details_info .sepcial_width>* {
        width: 248px !important;
    }
} 
 @media (min-width:991px) and (max-width:1398px) {
    .search_details .search_details_info .sepcial_width>* {
        width: 210px !important;
    }
} 
@media (min-width:320px) and (max-width:1200px) {
    .search_details_info{
        position: static;
    }
    .search_details {
        padding-top: 30px;
    }
}